/node_modules
/public/build
/public/hot
/public/fonts
/public/css
/public/scss
/public/js
/public/vendors
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
